# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

#php_value  SITE_ROOT  __DIR__

# map neat URL to internal URL
RewriteRule ^service/$   RestController.php?view=all [nc,qsa]
RewriteRule ^service/([0-9]+)/$   RestController.php?view=single&function=$1 [nc,qsa]
RewriteRule ^service/([a-zA-Z]+)/([a-zA-Z0-9@_-]+)/$   RestController.php?handler=$1&function=$2 [nc,qsa]
RewriteRule ^service/([a-zA-Z]+)/([a-zA-Z0-9@_-]+)/([a-zA-Z0-9@_-]+)/$   RestController.php?handler=$1&function=$2&params=$3 [nc,qsa]

#BEGIN GZIP
# Compress HTML, CSS, JavaScript, Text, XML and fonts
<IfModule deflate_module>
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
	AddOutputFilterByType DEFLATE application/x-font
	AddOutputFilterByType DEFLATE application/x-font-opentype
	AddOutputFilterByType DEFLATE application/x-font-otf
	AddOutputFilterByType DEFLATE application/x-font-truetype
	AddOutputFilterByType DEFLATE application/x-font-ttf
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE font/opentype
	AddOutputFilterByType DEFLATE font/otf
	AddOutputFilterByType DEFLATE font/ttf
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE image/x-icon
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/json

	# Remove browser bugs (only needed for really old browsers)
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	Header append Vary User-Agent
</IfModule>
#END GZIP
